* {
    box-sizing: border-box
}

body {
    font-family: "Nunito Sans", sans-serif;
}

/*Header section*/
.container {
    margin: 0 auto;
    width: 1200px;
}

.nav__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-weight: 700;
}


.page__nav a {
    text-decoration: none;
    margin: 0 10px;
    color: #9d9b9b;
}

.page__nav a:hover {
    color: black;
}

.page__nav {
    text-transform: uppercase;
}

/*Banner section*/
.banner {
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner__title {
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner__title span {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
    font-weight: 900;
}

.banner__text {
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.5);
}

/*Main content section*/
.main__content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.article__container {
    display: flex;
}

.photo__img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.single__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.single__article .article__title {
    text-transform: uppercase;
    margin-top: 35px;
    font-size: 20px;
    font-weight: 700;
}

.single__article .article__text {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: rgba(106, 106, 106, 0.7);
}

.article__btn {
    margin: 30px 0 30px 0;
}

.single__article a {
    text-decoration: none;
    color: tomato;
    border: 2px solid tomato;
    border-radius: 23px;
    padding: 15px 20px 15px 20px;
}

.single__article a:hover {
    color: white;
    background-color: tomato;
}

/*Footer section*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efeded;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: inherit;
    width: 1200px;
    margin: 50px 0 50px 0;
}

.footer_left a {
    text-decoration: none;
    color: gray;
    margin-right: 20px;
}

.footer_left a:hover {
    color: tomato;
}

.copy__footer{
    color: #b9b9b9;
}


